{% extends 'base.html' %}

{% block header %}
  <h5>{% block title %}Log In{% endblock %}</h5>
{% endblock %}

{% block content %}
<div style="display: block; text-align: center; width: auto;">
  <form method="post">
    <input class="form-control bg-primary" style="width: 15vw; margin: auto;" name="username" id="username" required placeholder="Username">
    <br style="height: 50%;">
    <input class="form-control bg-primary" style="width: 15vw; margin: auto;" type="password" name="password" id="password" required placeholder="Password">
    <br>
    <input class="btn btn-primary" type="submit" value="Log In">
  </form>
</div>
{% endblock %}